---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import EducationIcon from "@/components/icons/Education.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Education from "@/components/Education.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import LanguagesIcon from "@/components/icons/Languages.astro"
import Languages from "@/components/Languages.astro"
---

<Layout
  title="Nacho Mata - Telecommunications engineer specializing in telematics"
  description="Explore the professional profile of Nacho Mata, a telecommunications engineer specializing in telematics."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        Work experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="education">
      <TitleSection>
        <EducationIcon class="size-7" />
        Education
      </TitleSection>
      <Education />
    </SectionContainer>

    <SectionContainer id="languages">
      <TitleSection>
        <LanguagesIcon class="size-7" />
        Languages
      </TitleSection>
      <Languages />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        About me
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
  </main>
</Layout>
