---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "January 2024 - Present",
    title: "Researcher at a Mobile Network Research Laboratory",
    company: "Mobilenet, University of Málaga",
    description:
      "Python and JavaScript developer of a Wi-Fi optimization system for densely populated urban environments. Development of a user interface to use a Wi-Fi simulator, including backend with Python adding concurrency to the simulator and frontend with Astro and React.",
  },
  {
    date: "March 2023 - January 2024",
    title: "Research Intern at a Mobile Network Research Laboratory",
    company: "Mobilenet, University of Málaga",
    description:
      "Developer of a Wi-Fi network management evaluation platform. A network with multiple Wi-Fi access points manageable through a REST API developed in python. Including a user interface for management.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
